@import "tailwindcss";

@theme {
  --color-greenPrimary: #2e8656;
  --color-greenDark: #294936;
  --color-black1: #1b1b19;
  --color-greenOlive: #acc931;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-karla: 'Karla', sans-serif;
  /* --sidebar-width: 15rem; default lebar sidebar */
}

